.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;	
	-ms-user-select: none;	  
	user-select: none;
}

body {
	background-color: #212121;
	text-align: center;
	padding: 10px;
	margin: 0;
	color: #eeeeee;
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 5vw;
	color: #bdbdbd;
	font-style: "bold"; 
}

.number-input {
	background-color: #424242;
	color: #bdbdbd;
	border: 1px solid #e0e0e0;
	width: 30px;
}

.upload {
	padding: 20px;
}
.upload--active {
	border: 2px dashed #e0e0e0;
}

input[type="file"] {
	display: none;
}
.file-upload-label {
	border: 2px solid #e0e0e0;
	background-color: #424242;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.convert-success {
	color: #66bb6a;
	font-style: "Light";
}

.error {
	color: #e57373;
	font-style: "Light";
}
